<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wood Ring Builder</title>
</head>
<body>
    <nav>
        <section class="title"></section>
        <ul>
            <li><a href="/order">Order</a></li>
            <li><a href="/save">Save</a></li>
            <li><a href="/profile">Profile</a> </li>
            <li><a href="/login">Sign In</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
    <section class="hero clearfix">
        <section class="main">
            <form class="ringTitle">
                <label for="ringTitleInput">Ring Name:</label>
                <input id="ringTitleInput" type="text">
                <button id="setTitle" type="button" name="button">Set Name</button>
            </form>

            <form class="ringWidth">
                <label for="ringWidthInput">Ring Width:</label>
                <input id="ringWidthInput" type="number">mm
                <button id="setWidth" type="button" name="button">Set Size</button>
            </form>

            <form class="ringSize">
                <label for="ringSizeSelect">Ring Size:</label>
                <input id="ringSizeSelect" type="number" ></input>
                <button id="setSize" type="button" name="button">Set Size</button>
            </form>

            <section class="layerSelect">
                <label for="layerSelection">Layer</label>
                <select id="layerSelection">
                    <option value="1">Core --Select layer to add new materials--</option>
                    <option value="2">Layer 1</option>
                    <option value="3">Layer 2</option>
                    <option value="4">Layer 3</option>
                    <option value="5">Layer 4</option>
                    <option value="6">Layer 5</option>
                    <option value="7">Layer 6</option>
                    <option value="8">Layer 7</option>
                    <option value="9">Layer 8</option>
                </select>
            </section>

            <section class="materialSelect">
                <label for="materialSelection">Materials</label>
                <select id="materialSelection">
                    <option value="wood">Wood</option>
                    <option value="metal">Metal</option>
                    <option value="stone">Stone</option>
                </select>
            </section>

            <section class="materials">
                <!-- EJS loop for selected material -->
                <ul>
                    <% for(var i=0; i< material.length; i++) {%> 
                        <li>
                            <img src="<%= material[i].image%>">
                            <span> <%=material[i].name%> </span>
                        </li>    
                    <% } %>                   
                </ul> 
            </section>
        </section>

        <section class="dev">
            <form action="/material/addMat" enctype="multipart/form-data" method="POST">
                <label for="matType">Material type</label>
                <input type="text" id="matType" name="matType">

                <label for="matName">Material name</label>
                <input type="text" id="matName" name="matName">

                <label for="imageUpload">Material image</label>
                <input type="file" id="imageUpload" name="file">

                <button type="submit" value="upload">Submit</button>
            </form>
        </section>

        <section class="display">
            <section class="inlayManip"></section>
        </section>
    </section>
</body>
</html>