<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <section class="title"></section>
        <ul>
            <li>Order</li>
            <li>Save</li>
            <li>Sign In</li>
            <li>Options</li>
        </ul>
    </nav>
    <section class="hero clearfix">
        <section class="main">
            <section class="ringWidth">Width</section>
            <section class="ringSize">Size</section>
            <section class="layerSelect">Layer</section>
            <section class="materialSelect">Select</section>
            <section class="materials">

            </section>
        </section>

        <section class="display">
            <section class="inlayManip"></section>
        </section>
    </section>
</body>
</html>