<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wood Ring Builder</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <nav>
        <section class="title"></section>
        <ul>
            <li><a href="/order">Order</a></li>
            <li id="save">Save</li>
            <li><a href="/profile">Profile</a> </li>
            <li><a href="/login">Sign In</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
    <section class="hero clearfix">
        <section class="main">
            <form class="ringTitle">
                <label for="ringTitleInput">Ring Name:</label>
                <input id="ringTitleInput" type="text">
                <!-- <button id="setTitle" type="button" name="button">Set Name</button> -->
            </form>

            <form class="ringWidth">
                <label for="ringWidthInput">Ring Width:</label>
                <input id="ringWidthInput" type="number">mm
                <!-- <button id="setWidth" type="button" name="button">Set Size</button> -->
            </form>

            <form class="ringSize">
                <label for="ringSizeSelect">Ring Size:</label>
                <input id="ringSizeSelect" type="number" ></input>
                <!-- <button id="setSize" type="button" name="button">Set Size</button> -->
            </form>

            <section class="layerSelect">
                <label for="layerSelection">Layer</label>
                <select id="layerSelection">
                    <option selected>Choose a layer to add new materials</option>
                    <option value="1">Core</option>
                    <option value="2">Layer 1</option>
                    <option value="3">Layer 2</option>
                    <option value="4">Layer 3</option>
                    <option value="5">Layer 4</option>
                    <option value="6">Layer 5</option>
                    <option value="7">Layer 6</option>
                    <option value="8">Layer 7</option>
                    <option value="9">Layer 8</option>
                </select>
                <span id="removeLayer">Remove Layer</span>
            </section>

            <!-- <section class="materialSelect">
                <label for="materialSelection">Materials</label>
                <select id="materialSelection">
                    <option value="wood">Wood</option>
                    <option value="metal">Metal</option>
                    <option value="stone">Stone</option>
                </select>
            </section> -->

            <section class="materials">
                <!-- EJS loop for selected material -->
                <ul>
                    <% for(var i=0; i< material.length; i++) {%> 
                        <li class="materialListItem" id="<%=material[i].name%>">
                            <img class="materialImage" src="<%= material[i].image%>">
                            <span> <%=material[i].name%> </span>                           
                        </li>    
                    <% } %>                   
                </ul> 
            </section>
        </section>

        <div class="rightSide">
            <section class="display">
                <div id="layerCore" class="displayObj layer1">
                    <div class="displayObj layer2"></div>
                    <div class="displayObj layer3"></div>
                    <div class="displayObj layer4"></div>
                    <div class="displayObj layer5"></div>
                    <div class="displayObj layer6"></div>
                    <div class="displayObj layer7"></div>
                    <div class="displayObj layer8"></div>
                    <div class="displayObj layer9"></div>
                </div>
            </section>
    
            <section class="inlayManip">
                <input id="inlayWidth" type="number">
                <input id="inlaySlider" type="range" min="0" max="100" value="0">
            </section>
        </div>

        

    </section>
    <script src="js/main.js"></script>
</body>
</html>